body {
    background-color: #fafafa;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: #37474f;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #616161;
}